<%- include('_header', {
    link : ``
    }); %>

    <!-- Page Header -->
    <div class="c-pageheader">
        <div class="u__responsible-container">
            <div class="c-pageheader__title">
                <h1>My Account</h1>
            </div>
        </div>
    </div>


        <!-- Content -->
    <div class="u__responsible-container">
        <div class="c-content u__flex-container2">
            <div class="u-login">
                <h2>Sign Up</h2>
                <form action="" method="POST" id="signup">
                    <div class="u-login__input">
                        <label for="username">
                            Username
                            <span>
                                *
                            </span>
                        </label>
                        <input type="text" value="<%= typeof username != 'undefined' ? username : '' %>"
			       name="username" id="username">
                    </div>
                    <div class="u-login__input">
                        <label for="username">
                            Email
                            <span>
                                *
                            </span>
                        </label>
                        <input type="email" value="<%= typeof email != 'undefined' ? email : '' %>"
			       name="email" id="email" >
                    </div>
                    <div class="u-login__input">
                        <label for="password">
                            Password
                            <span>
                                *
                            </span>
                        </label>
                        <input type="password" value="<%= typeof password != 'undefined' ? password : '' %>"
			       name="password" id="password">
                    </div>
                    <div class="u-login__input">
                        <label for="confirmPassword">
                            Confirm Password
                            <span>
                                *
                            </span>
                        </label>
                        <input type="password"   value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
			       name="password2"  id="confirmPassword">
                    </div>
                    <div class="u-login__input">
                        <label for="firstName">
                            First Name
                            <span>
                                *
                            </span>
                        </label>
                        <input type="text"  value="<%= typeof fname != 'undefined' ? fname : '' %>"
			       name="fname" id="firstName">
                    </div>
                    <div class="u-login__input">
                        <label for="lastName">
                            Last Name
                            <span>
                                *
                            </span>
                        </label>
                        <input type="text"  value="<%= typeof lname != 'undefined' ? lname : '' %>"
			       name="lname" id="lastName">
                    </div>
                    <div class="u-login__input">
                        <label for="city">
                            City 
                            <span>
                                *
                            </span>
                        </label>
                        <input type="text" value="<%= typeof city != 'undefined' ? city : '' %>"
			       name="city" id="city">
                    </div>
                    <div class="u-login__input">
                        <label for="country">
                            Country
                            <span>
                                *
                            </span>
                        </label>
                        <input type="text" value="<%= typeof country != 'undefined' ? country : '' %>"
			       name="country" id="country">
                    </div>
                    <div class="u-login__input">
                        <label for="postalCode">
                            Postal Code
                            <span>
                                *
                            </span>
                        </label>
			<input type="number" value="<%= typeof postalCode != 'undefined' ? postalCode : '' %>" 
			       name="postalCode" id="postalCode">
                    </div>
		    <% if(typeof errors != 'undefined') { %>
		      <div>
			<% errors.forEach(function(error){ %>
			  <p><%= error.msg %></p>
			<% }); %>
		      </div>
		    <% } %>
                    <button type="submit">Sign Up</button>
                </form>
            </div>
        </div>
    </div>

<%- include('_footer', {
  jsScripts : ``
}); %>
